/* 1 vwem = 0.835vw = 1rem = 16px ( for 1920x1080 ) */
.container {
  --vwem: 0.835vw;

  width: 95vw;
  max-width: 36rem;
  margin: 0 auto;
  padding: calc(var(--vwem) * 3) 0 calc(var(--vwem) * 6);
}
